{% extends 'base.html' %}

{% block title %}人物列表{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script>
    	{% if canupload%}
	    	function reflashface(){
	    		$.ajax({
					url: '/reflashface',
					type: 'POST',
					dataType: 'html',
					error: function(XMLHttpRequest, textStatus, errorThrown){var error = "XMLHttpRequest.status: "
						+ XMLHttpRequest.status
						+ "\nXMLHttpRequest.readyState: "
						+ XMLHttpRequest.readyState + "\ntextStatus: "
						+ textStatus;
					alert(error);},
					success: function(result){
						alert('成功')
					}
		
				});
			}
		{% endif %}
	</script>
{% endblock %}

{% block main %}
	<div style="font-size:20px;">人物列表({{size}}人)</div>
	<div style="font-size:18px;margin-top:10px;margin-bottom:10px;">
		{% if canupload%}
			<a href="{{ url_for('addperson')}}"  class="btn btn-primary">新增人物</a>
			<a href="javascript:void(0)" class="btn btn-primary" onclick="reflashface()">刷新缓存</a>
		{% endif %}
		{% if not canupload%}
			<a disabled='disabled'  href="javascript:void(0)" class="btn btn-primary">新增人物</a>
			<a disabled='disabled' href="javascript:void(0)" class="btn btn-primary">刷新缓存</a>
		{% endif %}
	</div>
    <ul style="font-size:18px;">
        {% for per in person %}
            <li>
                <div style="width:100px;float:left;height:35px;">
                    {{ per.id }}
                </div>
                <div style="width:400px;float:left;height:35px;">
                    {{ per.person_name }}
                </div>
                <div style="width:200px;float:left;">
                	{% if canupload%}
	                	<a href="{{ url_for('updateperson',person_id=per.id)}}">修改</a>
	                	<a href="/uploadpage/{{per.id}}">上传图片</a>
                	{% endif %}
                	{% if not canupload%}
                		<a disabled='disabled' href="javascript:void(0)">修改</a>
	                	<a disabled='disabled' href="javascript:void(0)">上传图片</a>
                	{% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}